<div class="card mt-3">
  <div class="row no-gutters ">

    <div class="col-3  panel-body btn-heading-father">
      <a routerLink="/search/byAbstract">
        <div class="row no-gutters">
          <button type="submit" class="btn-default btn-block btn-heading-child">
            Search by Author
          </button>
        </div>
      </a>
    </div>

    <div class="col-8">

      <div class="card">
        <div class="row no-gutters">
          <div class="col-3  panel-body btn-heading-father">
            <div class="row no-gutters">
              <button type="submit" class="btn-default btn-block btn-heading-child" disabled>
                First Name
              </button>
            </div>
          </div>
          <div class="col-9  panel-body btn-heading-father">
              <div class="input-group ">
                <input type="text" class="form-control"
                  aria-describedby="basic-addon1">
              </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row no-gutters">
          <div class="col-3  panel-body btn-heading-father">
            <div class="row no-gutters">
              <button type="submit" class="btn-default btn-block btn-heading-child" disabled>
                Last Name
              </button>
            </div>
          </div>
          <div class="col-9  panel-body btn-heading-father">
              <div class="input-group ">
                <input type="text" class="form-control"
                  aria-describedby="basic-addon1">
              </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row no-gutters">
          <div class="col-3  panel-body btn-heading-father">
            <div class="row no-gutters">
              <button type="submit" class="btn-default btn-block btn-heading-child" disabled>
                AUID
              </button>
            </div>
          </div>
          <div class="col-9  panel-body btn-heading-father">
              <div class="input-group ">
                <input type="text" class="form-control"
                  aria-describedby="basic-addon1">
              </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row no-gutters">
          <div class="col-3  panel-body btn-heading-father">
            <div class="row no-gutters">
              <button type="submit" class="btn-default btn-block btn-heading-child" disabled>
                Country
              </button>
            </div>
          </div>
          <div class="col-9  panel-body btn-heading-father">
              <div class="input-group ">
                <input type="text" class="form-control"
                  aria-describedby="basic-addon1">
              </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row no-gutters">
          <div class="col-3  panel-body btn-heading-father">
            <div class="row no-gutters">
              <button type="submit" class="btn-default btn-block btn-heading-child" disabled>
                Institution
              </button>
            </div>
          </div>
          <div class="col-9  panel-body btn-heading-father">
              <div class="input-group ">
                <input type="text" class="form-control"
                  aria-describedby="basic-addon1">
              </div>
          </div>
        </div>
      </div>

    </div>

    

    <div class="col-1 panel-body">
      <div class="row no-gutters">
        <button type="submit" class="btn-default btn-block btn-heading-child">
          Go
        </button>
      </div>
    </div>

  </div>
</div>