body {
  /* overflow-y:hidden; */
  /* overflow-y:auto; */
}
a:link {
  color: aliceblue;
}

/* visited link */
a:visited {
  color: aliceblue;
}

/* mouse over link */
a:hover {
  color: aliceblue;
}

/* selected link */
a:active {
  color: aliceblue;
}