<form #FilterForm="ngForm" (keyup)="changed()" novalidate>
  <div class="form-check">
    <input class="form-check-input position-static" type="radio" name="blankRadio" id="blankRadio1" value="option1"
      aria-label="...">
    <label class="form-check-label" for="defaultCheck1">
      Review?
    </label>
  </div>

  <div class="form-group ">
    <label for="exampleFormControlInput1 ">Title</label>
    <input  type="text" class="form-control"
            #pTitle="ngModel" [(ngModel)]="pubFilter.title" name="pTitle"
            >
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Author</label>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">FirstName</span>
      </div>
      <input  type="text" class="form-control" 
              #pfirstName="ngModel" [(ngModel)]="pubFilter.authors[0].firstName" name="pfirstName">
    </div>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">SecondName</span>
      </div>
      <input  type="text" class="form-control" 
              #pSecondName="ngModel" [(ngModel)]="pubFilter.authors[0].secondName" name="pSecondName">
    </div>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Country</span>
      </div>
      <input  type="text" class="form-control" 
              #pCountry="ngModel" [(ngModel)]="pubFilter.authors[0].country" name="pCountry">
    </div>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Institution</span>
      </div>
      <input type="text" class="form-control" 
              #pInstitution="ngModel" [(ngModel)]="pubFilter.authors[0].institution" name="pInstitution">
    </div>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">auid</span>
      </div>
      <input  type="text" class="form-control"
              #pAuid="ngModel" [(ngModel)]="pubFilter.authors[0].auid" name="pAuid">
    </div>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Abstract</label>
    <textarea type="text" class="form-control"
              #pAbstract="ngModel" [(ngModel)]="pubFilter.abstract" name="pAAbstract">
    </textarea>
  </div>

  <div class="form-group mb-5">
    <label for="exampleFormControlSelect1">Pubkeys</label>
    <div class="input-group" *ngFor="let pk of pubFilter.keywords; let i=index">
      <div class="input-group-prepend">
      </div>
      <input  type="text" class="form-control"
              #pPubkey="ngModel" [(ngModel)]="pubFilter.keywords[i].totem" name="pPubkey">
      <input  type="text" class="form-control"
              #pPubkey="ngModel" [(ngModel)]="pubFilter.keywords[i].contented" name="pPubkey">
    </div>
  </div>

</form>